/viikko2/Verkkokauppa1/nbproject/private/
/viikko3/nhlreader/nbproject/private/
/viikko3/LoginCucumber/src/nbproject/private/
/viikko3/WebLogin/src/nbproject/private/
/viikko3/WebLogin/salasanat.txt
/viikko4/MockitoDemo/src/nbproject/private/
/viikko4/MaksukorttiMockito/src/nbproject/private/
/viikko4/Verkkokauppa/nbproject/private/
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/nbproject/private/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/nbproject/private/
/viikko4/Tennis/build/